/* Styles go here */
  body{
    font-family:Arial, Helvetica, sans-serif;
    -webkit-print-color-adjust: exact;
  }
  
  .listpageusrimg {
    width: 30px !important;
    vertical-align: middle;
    height: 30px !important;
    border-radius: 50%;
}
  .page-header, .page-header-space {
    height: 125px;
  }
  .page-footer, .page-footer-space {
    height: 55px;
  }
  .page-footer {
    position: fixed;
    bottom: 0;
    width: 97%;
    border-top: 1px solid black; /* for demo */
    /*background: yellow; /* for demo */
  }
  .page-header {
    position: fixed;
    width: 99%;
    /*border-bottom: 1px solid black; /* for demo */
    /*background: yellow; /* for demo */
  }
  
  @page {
    margin: 0mm;
  }
  @media print {
   thead {display: table-header-group;} 
   tfoot {display: table-footer-group;}
   button {display: none;}
   body {margin-left: 5mm; margin-right: 5mm;}
 }
 table{
  width: 100%;
}
.hiqahead tr {
  height: 28px;
  border-bottom: 1px solid #ccc;
}
.hiqahead tr td {
  /*text-align: center;*/
  color: #424242;
}
.pageheading{
  margin-bottom: 5px;
}
table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }

.resdetdiv{
    border: 1px #d5c8c880 solid;
    padding: 3px;
    margin-bottom: 10px;
}

.obshead {
    font-size: 15px;
    color: #0179ac;
    position: relative;
    z-index: 1;
}

.bg-gray-300 {
      background-color: #d1d5db!important;
  }

@media print{
.printButtonClass{
  visibility: hidden;
  display:none;
}
}